@use "../../styles/abstracts" as ab;

.home {
	display: grid;
	gap: 3em;

	.loading {
		min-height: 75vb;
		display: grid;
		place-items: center;
	}

	.container {
		display: grid;
		gap: 1.5em;

		input {
			font-size: 1.25rem;
			padding-inline: 0.25em 0.5em;
			padding-block: 0.25em;
		}
	}

	.blog {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--w), 1fr));
		gap: 2em;
	}
}
